li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.about__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;
  

  color: #fcfcfc;
}

.about__title {
    margin-bottom: 32px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
  
}

.container {
    text-align: center;
    justify-content: center;
  background-color: #84a178;
  padding: 0 15px;
 
  width: 480px;
  
}

.about__wrapper {
  margin-bottom: 90px;
}

.about__cow-photo::before {
  position: relative;

  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: 490px 490px;
  background-position: center;
  width: 490px;
  height: 490px;
  border-radius: 50%;

  background-color: rgb(76, 216, 44);
}

.about__cow-photo::after {
  position: absolute;
  bottom: -20px;

  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: 490px 490px;
  background-position: center;
  width: 490px;
  height: 490px;
  border-radius: 50%;

  background-color: rgb(76, 216, 44);
  background-image: url("../images/cow-main.png");
}
